
{% extends "base.html" %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<script src="{% static 'js/common.js' %}"></script>

<div class="test" onclick="Test(1234)" >About Page </div>
<ul>
{% for itm in list %}
    <li>
        {{ itm.Title }} | {{itm}}
        <ul>
        {% for group in itm.CreateAccess.all %}
            <li>{{ group.name }}</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
<h4>{{sss}}<h4>

{% endblock %}