
{% extends "base.html" %} 
{% block title %}Home{% endblock%}
{% load static %}

{% block content%}
{% csrf_token %}
{% verbatim %}
<style>
    .select2-container--open {
        z-index: 9999999
    }
</style>
<div class="card my-4" ng-app="docApp"  ng-controller="AppListCtrl" ng-init="init()" >
    <h5 class="card-header">App Details</h5>
    <div class="card-body" style="padding:30px">
        <form action="addrecord/" method="post" >
            <!--div class="mb-3 mt-3">
                <label for="Table" class="form-label">Table:</label>
                <input type="Table" class="form-control" id="Table" placeholder="Enter Table" name="Table" ng-model="item.table">
            <div-->
            <div class="mb-3 mt-3">
                <label for="Title" class="form-label">Title:</label>
                <input type="Title" class="form-control" id="Title" placeholder="Enter Title" name="Title" ng-model="item.title">
            </div>

            <div class="mb-3 mt-3">
                <label for="CreateGrpId" class="form-label">Create Access(Group):</label>
                <select class="CreateGrpId form-control"  multiple="multiple" ng-model="CreateGrpId">
                    <option ng-repeat="g in grps" value="{{g.id}}" >{{g.name}}</option>
                </select>
            </div>

            <div class="mb-3 mt-3" ng-show="item.id">
                <label for="CreateGrpId" class="form-label">Status:</label>
                <div class="row">
                    <div class="col-lg-3 " ng-repeat="st in status_list | orderBy:'order'" style="border: 1px solid gray;margin: 4px 4px; ">
                        <input class="btn btn-link" type="button" value="{{st.order}} - {{st.status}}" ng-click="AddNewStatus(st)" />
                    </div>
                    <div class="col-lg-12 ">
                        <input class="btn btn-link" type="button" value="Add new Status" ng-click="AddNewStatus()" />
                    </div>
                </div>                
            </div>

            <div class="mb-3 mt-3" ng-show="item.id">
                <label for="CreateGrpId" class="form-label">Access:</label>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:20%">Status</th>
                            <th style="width:20%">Filed Type</th>
                            <th style="width:20%">Group/Field</th>
                            <th style="width:20%">Access(V/R/W)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ac in access_list" >

                            <td>
                                <input class="btn btn-link" type="button" value="{{ac.name}}" ng-click="AddNewAccess(ac)" />
                            </td>

                            <td>{{GetStatusListText(ac.status)}}</td>

                            <td>{{ac.type}}
                            </td>

                            <td>
                                <div ng-show="ac.type == 'UserGroup'" >{{GetGroupListText(ac.group)}}</div>  
                                <div ng-show="ac.type != 'UserGroup'" >{{ac.action_by_filed}}</div>                                                                    
                            </td>
                            <td>{{GetAccessListText(ac.access)}}</td> 
                                                          
                        </tr>
                        <tr>
                            <td colspan="5" >
                                <input class="btn btn-link" type="button" value="Add new access" ng-click="AddNewAccess()" />                                
                            </td>
                        </tr>   
                    </tbody>
                </table>
            </div>

            <div class="mb-3 mt-3" ng-show="item.id">
                <label for="CreateGrpId" class="form-label">Fileds:</label>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            
                            <th style="width:5%">Ord</th>
                            <th style="width:40%">Title</th>
                            <th style="width:25%">Type</th>
                            <th style="width:10%">Required</th>
                            <th style="width:20%">Access</th>

                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fld in filedsList | orderBy:'order'" >
                            <td>{{fld.order}}</td>
                            <td>
                                <input class="btn btn-link" type="button" value="{{fld.title}}" ng-click="AddNewField(fld)" />
                            </td>
                            <td>{{fld.type}}</td>
                            <td>{{fld.required ? 'Yes' : 'No'}}</td> 
                            <td>{{GetAccessText(fld.access)}}</td>                           
                        </tr>
                        <tr>
                            <td colspan="4" >
                                <input class="btn btn-link" type="button" value="Add New Field" ng-click="AddNewField()" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mb-3 mt-3" ng-show="item.id">
                <label for="CreateGrpId" class="form-label">Flow:</label>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:4%">Ord</th>
                            <th style="width:17%">From status</th>                            
                            <th style="width:17%">Action by type</th>
                            <th style="width:17%" ng-show="NewFlw.action_by_type == 'Group' " >Group/Filed</th>
                            <th style="width:20%">Action</th>
                            <th style="width:17%">To status</th>
                            <th style="width:12%">Custom action</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr ng-repeat="flw in flowsList | orderBy:'order' " >
                            <td>{{flw.order}}</td>
                            <td>{{GetStatusText(flw.from_status)}}</td>
                            <td>{{flw.action_by_type}}</td>
                            <td>
                                <span>{{GetFiledText(flw.action_by_filed)}}</span>
                                <span ng-show="NewFlw.action_by_type == 'Group' " >{{GetGroupText(flw.action_by_grp)}}</span>
                            </td>                            
                            <td>
                                <input class="btn btn-link" type="button" value="{{flw.action}}" ng-click="AddNewFlow(flw)" />
                            </td>
                            <td>{{GetStatusText(flw.to_status)}}</td>
                            <td>{{flw.custom_action ? "Yes" : "No"}}</td>                                                        
                        </tr>
                        <tr>
                            <td colspan="6" >
                                <input class="btn btn-link" type="button" value="Add New Flow" ng-click="AddNewFlow()" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mb-3 mt-3" ng-show="item.id">
                <label for="CreateGrpId" class="form-label">View:</label>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:4%">Ord</th>
                            <th style="width:17%">View</th>                                                        
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr ng-repeat="flw in view_list | orderBy:'order' " >
                            <td>{{flw.order}}</td>
                            <td>
                                <input class="btn btn-link" type="button" value="{{flw.title}}" ng-click="AddNewView(flw)" />
                            </td>                                                
                        </tr>
                        <tr>
                            <td colspan="2" >
                                <input class="btn btn-link" type="button" value="Add New View" ng-click="AddNewView()" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <input type="button" value="Save" class="btn btn-primary" ng-click="Save()"/>
            <input type="button" value="Cancel" class="btn btn-primary" ng-click="brnCacel()"/>

        </form>        
    <div>

    <div class="modal modal-xl" tabindex="-1" id="FieldModal" >
        <div class="modal-dialog modal-full-width" style="width: 1600px;">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Field</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th style="width:5%">Order</th>
                        <th style="width:40%">Title</th>
                        <th style="width:25%">Type</th>
                        <th style="width:10%">Required</th>
                        <th style="width:20%">Accesss</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" class="form-control" id="order" name="order" ng-model="NewFld.order">
                        </td>
                        <td>
                            <input type="Title" class="form-control" id="Title" placeholder="Enter Title" name="title" ng-model="NewFld.title">
                        </td>
    
                        <td>
                            <select class="form-control"  ng-model="NewFld.type">
                                <option>Text</option>
                                <option>Date</option>
                                <option>User</option>
                                <option>Number</option>                                                                
                            </select>
                        </td>
                        <td>           
                            <input class="form-check-input" type="checkbox" ng-model="NewFld.required">                              
                        </td>
                        <td>
                            <select class="form-control"  ng-model="NewFld.access"> 
                                <option ng-repeat="ac in access_list" value="{{ac.id}}" >{{ac.name}}</option>                                                              
                            </select>
                        </td>
                        

                    </tr>
                </tbody>
                </table>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="button" value="Save" class="btn btn-primary" ng-click="AddUpateField(NewFld, false)"/>
            </div>
            </div>
        </div>
    </div>

    <div class="modal modal-xl" tabindex="-1" id="FlowModal">
        <div class="modal-dialog modal-full-width ">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Flow</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th style="width:5%">Order</th>
                                <th style="width:20%">From status</th>
                                <th style="width:15%">Action by type</th>
                                <th style="width:20%" ng-show="NewFlw.action_by_type == 'Group' " >Action by Group</th>
                                <th style="width:20%" ng-show="NewFlw.action_by_type == 'Field' " >Action by Filed</th>
                                <th style="width:20%">Action</th>
                                <th style="width:20%">To status</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" class="form-control" id="order" name="order" ng-model="NewFlw.order">
                                </td>
                                <td>
                                    <select class="form-control"  ng-model="NewFlw.from_status">
                                        <option ng-repeat="st in status_list" value="{{st.id}}" >{{st.status}}</option>                                                              
                                    </select>
                                </td>
                                <td>
                                    <select class="action_by_type form-control"  ng-model="NewFlw.action_by_type" style="width:100%">
                                        <option>Group</option>
                                        <option>Field</option>                                          
                                    </select>
                                </td>
                                <td  >                                
                                    <select class="CreateGrpId form-control" ng-model="NewFlw.action_by_grp"
                                        ng-if="NewFlw.action_by_type == 'Group' ">
                                        <option ng-repeat="g in grps" value="{{g.id}}" >{{g.name}}</option>
                                    </select>

                                    <select class="form-control" ng-model="NewFlw.action_by_filed"
                                        ng-if="NewFlw.action_by_type == 'Field' ">
                                        <option ng-repeat="fld in filedsList | filter:{ type: 'User' } " value="{{fld.id}}" >{{fld.title}}</option>
                                    </select>

                                </td>
                                <td>
                                    <input type="Text" class="form-control" id="action" name="action" ng-model="NewFlw.action">
                                </td>
                                <td>
                                    <select class="form-control"  ng-model="NewFlw.to_status">
                                        <option ng-repeat="st in status_list" value="{{st.id}}" >{{st.status}}</option>                                                              
                                    </select>
                                </td>
                                

                            </tr>
                            <tr >
                                <th colspan='2'>Update Fields</th>
                                <td colspan='4'>
                                    <textarea class="form-control" id="custom_action" rows="6" ng-model="NewFlw.custom_action" ></textarea>
                                </td>
                            </tr>
                            <tr >
                                <th colspan='2'>Custom action</th>
                                <td colspan='4'>
                                    <textarea class="form-control" id="custom_action" rows="6" ng-model="NewFlw.custom_action" ></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="button" value="Save" class="btn btn-primary" ng-click="AddUpateFlow(NewFlw, false)"/>
            </div>
            </div>
        </div>
    </div>

    <div class="modal modal-xl" tabindex="-1" id="access_model">
        <div class="modal-dialog modal-full-width ">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Access</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th style="width:5%">Order</th>
                                <th style="width:20%">Name</th>
                                <th style="width:20%">Status</th>
                                <th style="width:20%">Filed Type</th>
                                <th style="width:20%">Group/Field</th>
                                <th style="width:20%">Access(V/R/W)</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" class="form-control" id="order" name="order" ng-model="new_acc.order">
                                </td>
                                <td>
                                    <input type="Text" class="form-control" id="new_acc_name"  name="new_acc_name" ng-model="new_acc.name">                                    
                                </td>
                                <td>
                                    <select multiple="multiple" class="new_acc_status form-control"  ng-model="new_acc.status" style="width:100%">
                                        <option  ng-repeat="st in status_list" value="{{st.id}}" >{{st.status}}</option>                                                              
                                    </select>
                                </td>
                                <td>     
                                    <select class="form-control"  ng-model="new_acc.type">
                                        <option value='UserGroup'>Group</option>
                                        <option value='User'>Field User</option>
                                        <option value='Group'>Group User</option>
                                        <option value='Text'>Field Text</option>                                            
                                    </select>                                    
                                </td>
                                <td>
                                    <select  class="new_acc_group form-control" ng-if="new_acc.type == 'UserGroup'" 
                                        multiple="multiple" ng-model="new_acc.group" style="width:100%">
                                        <option ng-repeat="g in grps" value="{{g.id}}" >{{g.name}}</option>
                                    </select>

                                    <select class="form-control" ng-model="new_acc.action_by_filed"
                                        ng-if="new_acc.type != 'UserGroup'">
                                        <option ng-repeat="fld in filedsList | filter:{ type: new_acc.type } " value="{{fld.id}}" >{{fld.title}}</option>
                                    </select>

                                    <div ng-show="new_acc.type == 'Text'">
                                        <div style="width100%;text-align: center;">=</div>
                                        <input type="Text" class="form-control" id="FileldsField" placeholder="Text Value" 
                                        name="Filelds Field" ng-model="ac.field">
                                    </div> 
                                </td>
                                <td>
                                    <select class="new_acc_ccess form-control"  ng-model="new_acc.access" multiple="multiple" style="width:100%">
                                        <option>Create</option>
                                        <option>Read</option>  
                                        <option>Write</option>  
                                        <option>Delete</option>                                          
                                    </select>
                                </td>                                
                            </tr>                            
                        </tbody>
                    </table>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="button" value="Save" class="btn btn-primary" ng-click="AddUpateAccess(new_acc, false)"/>
                <input type="button" value="Delete" class="btn btn-danger" ng-click="DeleteAccess(new_acc)"/>
            </div>
            </div>
        </div>
    </div>

    <div class="modal modal-sm" tabindex="-1" id="status_model">
        <div class="modal-dialog  ">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th style="width:5%">Order</th>
                                <th style="width:20%">Status</th>                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" class="form-control" id="new_st_" name="new_st_" ng-model="new_st.order">
                                </td>
                                <td>
                                    <input type="Text" class="form-control" id="new_st_status"  name="new_st_status" ng-model="new_st.status">                                    
                                </td>
                                                              
                            </tr>                            
                        </tbody>
                    </table>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="button" value="Save" class="btn btn-primary" ng-click="AddUpateStatus(new_st, false)"/>
                <input ng-show="new_st.id" type="button" value="Delete" class="btn btn-danger" ng-click="DeleteStatus(new_st)"/>
            </div>
            </div>
        </div>
    </div>

    <div class="modal modal-sm" tabindex="-1" id="view_model">
        <div class="modal-dialog  modal-full-width">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Views</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <table class="table table-bordered" >                    
                        <tbody>
                            <tr>
                                <th >Order</th>
                                <td >
                                    <input type="number" class="form-control" id="new_st_" name="new_v_Order" ng-model="new_v.order">
                                </td>
                            </tr>
                            <tr >
                                <th >Title</th>
                                <td>
                                    <input type="Text" class="form-control" id="new_v_title"  name="new_v_title" ng-model="new_v.title">
                                </td>
                            </tr>
                           
                            <tr>
                                <th >Html</th>
                                <td>
                                    <textarea class="form-control" id="new_v_html" rows="6" ng-model="new_v.html" ></textarea>
                                </td>
                            </tr> 
                            <tr >
                                <th>JS</th>
                                <td>
                                    <textarea class="form-control" id="new_v_js" rows="6" ng-model="new_v.js" ></textarea>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="button" value="Save" class="btn btn-primary" ng-click="AddUpateView(new_v, false)"/>
                <input ng-show="new_v.id" type="button" value="Delete" class="btn btn-danger" ng-click="DeleteView(new_v)"/>
            </div>
            </div>
        </div>
    </div>

</div>


  {% endverbatim %}




<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/docApp.js' %}"></script>
<script src="{% static 'js/AppListCtrl.js' %}"></script>

{% endblock content%} 
